Process_APP_Desk/Connected Services/ServiceProcess_Comuna/Process_Comuna1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TraerComunaSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_comuna" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerComunaSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerComunaSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerComunaConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_comuna" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerComunaConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerComunaConEntidad_EscritorioResult" type="tns:Comuna" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Comuna">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_comuna" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_provincia" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraerTodasComunasPorProvincia_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_provincia" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerTodasComunasPorProvincia_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTodasComunasPorProvincia_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerTodasComunas_Escritorio">
        <s:complexType />
      </s:element>
      <s:element name="TraerTodasComunas_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTodasComunas_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Comuna" nillable="true" type="tns:Comuna" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TraerComunaSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerComunaSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerComunaSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerComunaSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerComunaConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerComunaConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerComunaConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerComunaConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTodasComunasPorProvincia_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTodasComunasPorProvincia_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerTodasComunasPorProvincia_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTodasComunasPorProvincia_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTodasComunas_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTodasComunas_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerTodasComunas_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTodasComunas_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerComunaSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_comuna" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerComunaSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerComunaConEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_comuna" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerComunaConEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:Comuna" />
  </wsdl:message>
  <wsdl:message name="TraerTodasComunasPorProvincia_EscritorioHttpGetIn">
    <wsdl:part name="_id_provincia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerTodasComunasPorProvincia_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerTodasComunas_EscritorioHttpGetIn" />
  <wsdl:message name="TraerTodasComunas_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerComunaSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_comuna" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerComunaSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerComunaConEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_comuna" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerComunaConEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:Comuna" />
  </wsdl:message>
  <wsdl:message name="TraerTodasComunasPorProvincia_EscritorioHttpPostIn">
    <wsdl:part name="_id_provincia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerTodasComunasPorProvincia_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerTodasComunas_EscritorioHttpPostIn" />
  <wsdl:message name="TraerTodasComunas_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="Process_ComunaSoap">
    <wsdl:operation name="TraerComunaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerComunaSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerComunaSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerComunaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerComunaConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerComunaConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunasPorProvincia_Escritorio">
      <wsdl:input message="tns:TraerTodasComunasPorProvincia_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerTodasComunasPorProvincia_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunas_Escritorio">
      <wsdl:input message="tns:TraerTodasComunas_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerTodasComunas_EscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_ComunaHttpGet">
    <wsdl:operation name="TraerComunaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerComunaSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerComunaSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerComunaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerComunaConEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerComunaConEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunasPorProvincia_Escritorio">
      <wsdl:input message="tns:TraerTodasComunasPorProvincia_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerTodasComunasPorProvincia_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunas_Escritorio">
      <wsdl:input message="tns:TraerTodasComunas_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerTodasComunas_EscritorioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_ComunaHttpPost">
    <wsdl:operation name="TraerComunaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerComunaSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerComunaSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerComunaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerComunaConEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerComunaConEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunasPorProvincia_Escritorio">
      <wsdl:input message="tns:TraerTodasComunasPorProvincia_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerTodasComunasPorProvincia_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunas_Escritorio">
      <wsdl:input message="tns:TraerTodasComunas_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerTodasComunas_EscritorioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Process_ComunaSoap" type="tns:Process_ComunaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerComunaSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerComunaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerComunaConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerComunaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunasPorProvincia_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerTodasComunasPorProvincia_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunas_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerTodasComunas_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_ComunaSoap12" type="tns:Process_ComunaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerComunaSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerComunaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerComunaConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerComunaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunasPorProvincia_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerTodasComunasPorProvincia_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunas_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerTodasComunas_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_ComunaHttpGet" type="tns:Process_ComunaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="TraerComunaSinEntidad_Escritorio">
      <http:operation location="/TraerComunaSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerComunaConEntidad_Escritorio">
      <http:operation location="/TraerComunaConEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunasPorProvincia_Escritorio">
      <http:operation location="/TraerTodasComunasPorProvincia_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunas_Escritorio">
      <http:operation location="/TraerTodasComunas_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_ComunaHttpPost" type="tns:Process_ComunaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="TraerComunaSinEntidad_Escritorio">
      <http:operation location="/TraerComunaSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerComunaConEntidad_Escritorio">
      <http:operation location="/TraerComunaConEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunasPorProvincia_Escritorio">
      <http:operation location="/TraerTodasComunasPorProvincia_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasComunas_Escritorio">
      <http:operation location="/TraerTodasComunas_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Process_Comuna">
    <wsdl:port name="Process_ComunaSoap" binding="tns:Process_ComunaSoap">
      <soap:address location="http://52.67.249.164:8071/Process_Comuna.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_ComunaSoap12" binding="tns:Process_ComunaSoap12">
      <soap12:address location="http://52.67.249.164:8071/Process_Comuna.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_ComunaHttpGet" binding="tns:Process_ComunaHttpGet">
      <http:address location="http://52.67.249.164:8071/Process_Comuna.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_ComunaHttpPost" binding="tns:Process_ComunaHttpPost">
      <http:address location="http://52.67.249.164:8071/Process_Comuna.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>