Process_APP_Desk/Connected Services/ServiceProcess_Region/Process_Region.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TraerRegionSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_region" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerRegionSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerRegionSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerRegionConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_region" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerRegionConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerRegionConEntidad_EscritorioResult" type="tns:Region" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Region">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_region" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraerTodasRegiones_Escritorio">
        <s:complexType />
      </s:element>
      <s:element name="TraerTodasRegiones_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTodasRegiones_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Region" nillable="true" type="tns:Region" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TraerRegionSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerRegionSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerRegionSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerRegionSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerRegionConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerRegionConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerRegionConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerRegionConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTodasRegiones_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTodasRegiones_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerTodasRegiones_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTodasRegiones_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerRegionSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_region" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRegionSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerRegionConEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_region" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRegionConEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:Region" />
  </wsdl:message>
  <wsdl:message name="TraerTodasRegiones_EscritorioHttpGetIn" />
  <wsdl:message name="TraerTodasRegiones_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerRegionSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_region" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRegionSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerRegionConEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_region" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRegionConEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:Region" />
  </wsdl:message>
  <wsdl:message name="TraerTodasRegiones_EscritorioHttpPostIn" />
  <wsdl:message name="TraerTodasRegiones_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="Process_RegionSoap">
    <wsdl:operation name="TraerRegionSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerRegionSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerRegionSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRegionConEntidad_Escritorio">
      <wsdl:input message="tns:TraerRegionConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerRegionConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRegiones_Escritorio">
      <wsdl:input message="tns:TraerTodasRegiones_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerTodasRegiones_EscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_RegionHttpGet">
    <wsdl:operation name="TraerRegionSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerRegionSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerRegionSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRegionConEntidad_Escritorio">
      <wsdl:input message="tns:TraerRegionConEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerRegionConEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRegiones_Escritorio">
      <wsdl:input message="tns:TraerTodasRegiones_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerTodasRegiones_EscritorioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_RegionHttpPost">
    <wsdl:operation name="TraerRegionSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerRegionSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerRegionSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRegionConEntidad_Escritorio">
      <wsdl:input message="tns:TraerRegionConEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerRegionConEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRegiones_Escritorio">
      <wsdl:input message="tns:TraerTodasRegiones_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerTodasRegiones_EscritorioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Process_RegionSoap" type="tns:Process_RegionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerRegionSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerRegionSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRegionConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerRegionConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRegiones_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerTodasRegiones_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_RegionSoap12" type="tns:Process_RegionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerRegionSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerRegionSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRegionConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerRegionConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRegiones_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerTodasRegiones_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_RegionHttpGet" type="tns:Process_RegionHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="TraerRegionSinEntidad_Escritorio">
      <http:operation location="/TraerRegionSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRegionConEntidad_Escritorio">
      <http:operation location="/TraerRegionConEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRegiones_Escritorio">
      <http:operation location="/TraerTodasRegiones_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_RegionHttpPost" type="tns:Process_RegionHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="TraerRegionSinEntidad_Escritorio">
      <http:operation location="/TraerRegionSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRegionConEntidad_Escritorio">
      <http:operation location="/TraerRegionConEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRegiones_Escritorio">
      <http:operation location="/TraerTodasRegiones_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Process_Region">
    <wsdl:port name="Process_RegionSoap" binding="tns:Process_RegionSoap">
      <soap:address location="http://localhost:52755/Process_Region.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_RegionSoap12" binding="tns:Process_RegionSoap12">
      <soap12:address location="http://localhost:52755/Process_Region.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_RegionHttpGet" binding="tns:Process_RegionHttpGet">
      <http:address location="http://localhost:52755/Process_Region.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_RegionHttpPost" binding="tns:Process_RegionHttpPost">
      <http:address location="http://localhost:52755/Process_Region.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>