Process_APP_Desk/Connected Services/ServiceProcess_Empresa/Process_Empresa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarEmpresaConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_unidad">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarEmpresaConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarEmpresaConEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarEmpresaSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_giro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_estado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_id_comuna" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarEmpresaSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarEmpresaSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEmpresaConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_unidad">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEmpresaConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarEmpresaConEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEmpresaSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_giro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_estado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_id_comuna" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEmpresaSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarEmpresaSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerEmpresaSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_empresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerEmpresaSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerEmpresaSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerEmpresaConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_empresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerEmpresaConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerEmpresaConEntidad_EscritorioResult" type="tns:Empresa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Empresa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Rut_empresa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Giro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_comuna" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraerTodasEmpresas_Escritorio">
        <s:complexType />
      </s:element>
      <s:element name="TraerTodasEmpresas_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTodasEmpresas_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Empresa" nillable="true" type="tns:Empresa" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarEmpresaConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarEmpresaConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="InsertarEmpresaConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarEmpresaConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarEmpresaSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarEmpresaSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="InsertarEmpresaSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarEmpresaSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarEmpresaConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarEmpresaConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="ActualizarEmpresaConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarEmpresaConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarEmpresaSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarEmpresaSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="ActualizarEmpresaSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarEmpresaSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerEmpresaSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerEmpresaSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerEmpresaSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerEmpresaSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerEmpresaConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerEmpresaConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerEmpresaConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerEmpresaConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTodasEmpresas_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTodasEmpresas_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerTodasEmpresas_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTodasEmpresas_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarEmpresaSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_empresa" type="s:string" />
    <wsdl:part name="_nombre" type="s:string" />
    <wsdl:part name="_giro" type="s:string" />
    <wsdl:part name="_direccion" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
    <wsdl:part name="_id_comuna" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarEmpresaSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarEmpresaSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_empresa" type="s:string" />
    <wsdl:part name="_nombre" type="s:string" />
    <wsdl:part name="_giro" type="s:string" />
    <wsdl:part name="_direccion" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
    <wsdl:part name="_id_comuna" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarEmpresaSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerEmpresaSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_empresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerEmpresaSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerEmpresaConEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_empresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerEmpresaConEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:Empresa" />
  </wsdl:message>
  <wsdl:message name="TraerTodasEmpresas_EscritorioHttpGetIn" />
  <wsdl:message name="TraerTodasEmpresas_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="InsertarEmpresaSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_empresa" type="s:string" />
    <wsdl:part name="_nombre" type="s:string" />
    <wsdl:part name="_giro" type="s:string" />
    <wsdl:part name="_direccion" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
    <wsdl:part name="_id_comuna" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarEmpresaSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarEmpresaSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_empresa" type="s:string" />
    <wsdl:part name="_nombre" type="s:string" />
    <wsdl:part name="_giro" type="s:string" />
    <wsdl:part name="_direccion" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
    <wsdl:part name="_id_comuna" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarEmpresaSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerEmpresaSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_empresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerEmpresaSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerEmpresaConEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_empresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerEmpresaConEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:Empresa" />
  </wsdl:message>
  <wsdl:message name="TraerTodasEmpresas_EscritorioHttpPostIn" />
  <wsdl:message name="TraerTodasEmpresas_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="Process_EmpresaSoap">
    <wsdl:operation name="InsertarEmpresaConEntidad_Escritorio">
      <wsdl:input message="tns:InsertarEmpresaConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:InsertarEmpresaConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarEmpresaSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:InsertarEmpresaSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpresaConEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarEmpresaConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:ActualizarEmpresaConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarEmpresaSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:ActualizarEmpresaSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerEmpresaSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerEmpresaSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerEmpresaConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerEmpresaConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasEmpresas_Escritorio">
      <wsdl:input message="tns:TraerTodasEmpresas_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerTodasEmpresas_EscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_EmpresaHttpGet">
    <wsdl:operation name="InsertarEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarEmpresaSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:InsertarEmpresaSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarEmpresaSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:ActualizarEmpresaSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerEmpresaSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerEmpresaSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerEmpresaConEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerEmpresaConEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasEmpresas_Escritorio">
      <wsdl:input message="tns:TraerTodasEmpresas_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerTodasEmpresas_EscritorioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_EmpresaHttpPost">
    <wsdl:operation name="InsertarEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarEmpresaSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:InsertarEmpresaSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarEmpresaSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:ActualizarEmpresaSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerEmpresaSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerEmpresaSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerEmpresaConEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerEmpresaConEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasEmpresas_Escritorio">
      <wsdl:input message="tns:TraerTodasEmpresas_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerTodasEmpresas_EscritorioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Process_EmpresaSoap" type="tns:Process_EmpresaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarEmpresaConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/InsertarEmpresaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarEmpresaSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/InsertarEmpresaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpresaConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/ActualizarEmpresaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpresaSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/ActualizarEmpresaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerEmpresaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerEmpresaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasEmpresas_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerTodasEmpresas_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_EmpresaSoap12" type="tns:Process_EmpresaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarEmpresaConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/InsertarEmpresaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarEmpresaSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/InsertarEmpresaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpresaConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/ActualizarEmpresaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpresaSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/ActualizarEmpresaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerEmpresaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerEmpresaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasEmpresas_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerTodasEmpresas_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_EmpresaHttpGet" type="tns:Process_EmpresaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="InsertarEmpresaSinEntidad_Escritorio">
      <http:operation location="/InsertarEmpresaSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpresaSinEntidad_Escritorio">
      <http:operation location="/ActualizarEmpresaSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaSinEntidad_Escritorio">
      <http:operation location="/TraerEmpresaSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaConEntidad_Escritorio">
      <http:operation location="/TraerEmpresaConEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasEmpresas_Escritorio">
      <http:operation location="/TraerTodasEmpresas_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_EmpresaHttpPost" type="tns:Process_EmpresaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="InsertarEmpresaSinEntidad_Escritorio">
      <http:operation location="/InsertarEmpresaSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpresaSinEntidad_Escritorio">
      <http:operation location="/ActualizarEmpresaSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaSinEntidad_Escritorio">
      <http:operation location="/TraerEmpresaSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEmpresaConEntidad_Escritorio">
      <http:operation location="/TraerEmpresaConEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasEmpresas_Escritorio">
      <http:operation location="/TraerTodasEmpresas_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Process_Empresa">
    <wsdl:port name="Process_EmpresaSoap" binding="tns:Process_EmpresaSoap">
      <soap:address location="http://localhost:52755/Process_Empresa.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_EmpresaSoap12" binding="tns:Process_EmpresaSoap12">
      <soap12:address location="http://localhost:52755/Process_Empresa.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_EmpresaHttpGet" binding="tns:Process_EmpresaHttpGet">
      <http:address location="http://localhost:52755/Process_Empresa.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_EmpresaHttpPost" binding="tns:Process_EmpresaHttpPost">
      <http:address location="http://localhost:52755/Process_Empresa.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>