Process_APP_Desk/Connected Services/ServiceProcess_Rol/Process_Rol1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarRolConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_unidad">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarRolConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarRolConEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarRolSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_estado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarRolSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarRolSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarRolConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_unidad">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarRolConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarRolConEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarRolSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_rol" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_estado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarRolSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarRolSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerRolSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_rol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerRolSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerRolSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerRolPorNombreSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerRolPorNombreSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerRolPorNombreSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerRolConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_rol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerRolConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerRolConEntidad_EscritorioResult" type="tns:Rol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Rol">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_rol" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraerRolPorNombreConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerRolPorNombreConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerRolPorNombreConEntidad_EscritorioResult" type="tns:Rol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerTodasRoles_Escritorio">
        <s:complexType />
      </s:element>
      <s:element name="TraerTodasRoles_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTodasRoles_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerRolConClaveSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_palabra_clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerRolConClaveSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerRolConClaveSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Rol" nillable="true" type="tns:Rol" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarRolConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarRolConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="InsertarRolConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarRolConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarRolSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarRolSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="InsertarRolSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarRolSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarRolConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarRolConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="ActualizarRolConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarRolConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarRolSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarRolSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="ActualizarRolSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarRolSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerRolSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerRolSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerRolSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerRolSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerRolPorNombreSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerRolPorNombreSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerRolPorNombreSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerRolPorNombreSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerRolConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerRolConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerRolConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerRolConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerRolPorNombreConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerRolPorNombreConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerRolPorNombreConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerRolPorNombreConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTodasRoles_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTodasRoles_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerTodasRoles_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTodasRoles_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerRolConClaveSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerRolConClaveSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerRolConClaveSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerRolConClaveSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarRolSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_nombre" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarRolSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarRolSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_rol" type="s:string" />
    <wsdl:part name="_nombre" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarRolSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerRolSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRolSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerRolPorNombreSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRolPorNombreSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerRolConEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRolConEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:Rol" />
  </wsdl:message>
  <wsdl:message name="TraerRolPorNombreConEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRolPorNombreConEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:Rol" />
  </wsdl:message>
  <wsdl:message name="TraerTodasRoles_EscritorioHttpGetIn" />
  <wsdl:message name="TraerTodasRoles_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerRolConClaveSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_palabra_clave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRolConClaveSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="InsertarRolSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_nombre" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarRolSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarRolSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_rol" type="s:string" />
    <wsdl:part name="_nombre" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarRolSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerRolSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRolSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerRolPorNombreSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRolPorNombreSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerRolConEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRolConEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:Rol" />
  </wsdl:message>
  <wsdl:message name="TraerRolPorNombreConEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRolPorNombreConEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:Rol" />
  </wsdl:message>
  <wsdl:message name="TraerTodasRoles_EscritorioHttpPostIn" />
  <wsdl:message name="TraerTodasRoles_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerRolConClaveSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_palabra_clave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerRolConClaveSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="Process_RolSoap">
    <wsdl:operation name="InsertarRolConEntidad_Escritorio">
      <wsdl:input message="tns:InsertarRolConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:InsertarRolConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarRolSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarRolSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:InsertarRolSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarRolConEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarRolConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:ActualizarRolConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarRolSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarRolSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:ActualizarRolSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerRolSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolPorNombreSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerRolPorNombreSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolConEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerRolConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreConEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolPorNombreConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerRolPorNombreConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRoles_Escritorio">
      <wsdl:input message="tns:TraerTodasRoles_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerTodasRoles_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolConClaveSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolConClaveSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerRolConClaveSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_RolHttpGet">
    <wsdl:operation name="InsertarRolSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarRolSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:InsertarRolSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarRolSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarRolSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:ActualizarRolSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerRolSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolPorNombreSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerRolPorNombreSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolConEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolConEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerRolConEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreConEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolPorNombreConEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerRolPorNombreConEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRoles_Escritorio">
      <wsdl:input message="tns:TraerTodasRoles_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerTodasRoles_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolConClaveSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolConClaveSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerRolConClaveSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_RolHttpPost">
    <wsdl:operation name="InsertarRolSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarRolSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:InsertarRolSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarRolSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarRolSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:ActualizarRolSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerRolSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolPorNombreSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerRolPorNombreSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolConEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolConEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerRolConEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreConEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolPorNombreConEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerRolPorNombreConEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRoles_Escritorio">
      <wsdl:input message="tns:TraerTodasRoles_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerTodasRoles_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerRolConClaveSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerRolConClaveSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerRolConClaveSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Process_RolSoap" type="tns:Process_RolSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarRolConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/InsertarRolConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarRolSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/InsertarRolSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRolConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/ActualizarRolConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRolSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/ActualizarRolSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerRolSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerRolPorNombreSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerRolConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerRolPorNombreConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRoles_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerTodasRoles_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolConClaveSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerRolConClaveSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_RolSoap12" type="tns:Process_RolSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarRolConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/InsertarRolConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarRolSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/InsertarRolSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRolConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/ActualizarRolConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRolSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/ActualizarRolSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerRolSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerRolPorNombreSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerRolConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerRolPorNombreConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRoles_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerTodasRoles_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolConClaveSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerRolConClaveSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_RolHttpGet" type="tns:Process_RolHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="InsertarRolSinEntidad_Escritorio">
      <http:operation location="/InsertarRolSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRolSinEntidad_Escritorio">
      <http:operation location="/ActualizarRolSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolSinEntidad_Escritorio">
      <http:operation location="/TraerRolSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreSinEntidad_Escritorio">
      <http:operation location="/TraerRolPorNombreSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolConEntidad_Escritorio">
      <http:operation location="/TraerRolConEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreConEntidad_Escritorio">
      <http:operation location="/TraerRolPorNombreConEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRoles_Escritorio">
      <http:operation location="/TraerTodasRoles_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolConClaveSinEntidad_Escritorio">
      <http:operation location="/TraerRolConClaveSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_RolHttpPost" type="tns:Process_RolHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="InsertarRolSinEntidad_Escritorio">
      <http:operation location="/InsertarRolSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRolSinEntidad_Escritorio">
      <http:operation location="/ActualizarRolSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolSinEntidad_Escritorio">
      <http:operation location="/TraerRolSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreSinEntidad_Escritorio">
      <http:operation location="/TraerRolPorNombreSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolConEntidad_Escritorio">
      <http:operation location="/TraerRolConEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolPorNombreConEntidad_Escritorio">
      <http:operation location="/TraerRolPorNombreConEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasRoles_Escritorio">
      <http:operation location="/TraerTodasRoles_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRolConClaveSinEntidad_Escritorio">
      <http:operation location="/TraerRolConClaveSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Process_Rol">
    <wsdl:port name="Process_RolSoap" binding="tns:Process_RolSoap">
      <soap:address location="http://52.67.249.164:8071/Process_Rol.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_RolSoap12" binding="tns:Process_RolSoap12">
      <soap12:address location="http://52.67.249.164:8071/Process_Rol.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_RolHttpGet" binding="tns:Process_RolHttpGet">
      <http:address location="http://52.67.249.164:8071/Process_Rol.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_RolHttpPost" binding="tns:Process_RolHttpPost">
      <http:address location="http://52.67.249.164:8071/Process_Rol.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>