Process_APP_Desk/Connected Services/ServiceProcess_Acceso/Process_Acceso11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TraerAccesoSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_acceso" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerAccesoSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerAccesoSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerAccesoConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_acceso" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerAccesoConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerAccesoConEntidad_EscritorioResult" type="tns:Acceso" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Acceso">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_acceso" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraerTodasAccesos_Escritorio">
        <s:complexType />
      </s:element>
      <s:element name="TraerTodasAccesos_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTodasAccesos_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Acceso" nillable="true" type="tns:Acceso" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TraerAccesoSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerAccesoSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerAccesoSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerAccesoSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerAccesoConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerAccesoConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerAccesoConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerAccesoConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTodasAccesos_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTodasAccesos_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerTodasAccesos_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTodasAccesos_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerAccesoSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_acceso" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerAccesoSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerAccesoConEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_acceso" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerAccesoConEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:Acceso" />
  </wsdl:message>
  <wsdl:message name="TraerTodasAccesos_EscritorioHttpGetIn" />
  <wsdl:message name="TraerTodasAccesos_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerAccesoSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_acceso" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerAccesoSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerAccesoConEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_acceso" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerAccesoConEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:Acceso" />
  </wsdl:message>
  <wsdl:message name="TraerTodasAccesos_EscritorioHttpPostIn" />
  <wsdl:message name="TraerTodasAccesos_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="Process_AccesoSoap">
    <wsdl:operation name="TraerAccesoSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerAccesoSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerAccesoSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerAccesoConEntidad_Escritorio">
      <wsdl:input message="tns:TraerAccesoConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerAccesoConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasAccesos_Escritorio">
      <wsdl:input message="tns:TraerTodasAccesos_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerTodasAccesos_EscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_AccesoHttpGet">
    <wsdl:operation name="TraerAccesoSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerAccesoSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerAccesoSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerAccesoConEntidad_Escritorio">
      <wsdl:input message="tns:TraerAccesoConEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerAccesoConEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasAccesos_Escritorio">
      <wsdl:input message="tns:TraerTodasAccesos_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerTodasAccesos_EscritorioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_AccesoHttpPost">
    <wsdl:operation name="TraerAccesoSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerAccesoSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerAccesoSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerAccesoConEntidad_Escritorio">
      <wsdl:input message="tns:TraerAccesoConEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerAccesoConEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasAccesos_Escritorio">
      <wsdl:input message="tns:TraerTodasAccesos_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerTodasAccesos_EscritorioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Process_AccesoSoap" type="tns:Process_AccesoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerAccesoSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerAccesoSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerAccesoConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerAccesoConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasAccesos_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerTodasAccesos_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_AccesoSoap12" type="tns:Process_AccesoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerAccesoSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerAccesoSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerAccesoConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerAccesoConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasAccesos_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerTodasAccesos_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_AccesoHttpGet" type="tns:Process_AccesoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="TraerAccesoSinEntidad_Escritorio">
      <http:operation location="/TraerAccesoSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerAccesoConEntidad_Escritorio">
      <http:operation location="/TraerAccesoConEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasAccesos_Escritorio">
      <http:operation location="/TraerTodasAccesos_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_AccesoHttpPost" type="tns:Process_AccesoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="TraerAccesoSinEntidad_Escritorio">
      <http:operation location="/TraerAccesoSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerAccesoConEntidad_Escritorio">
      <http:operation location="/TraerAccesoConEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasAccesos_Escritorio">
      <http:operation location="/TraerTodasAccesos_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Process_Acceso">
    <wsdl:port name="Process_AccesoSoap" binding="tns:Process_AccesoSoap">
      <soap:address location="http://52.67.249.164:8071/Process_Acceso.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_AccesoSoap12" binding="tns:Process_AccesoSoap12">
      <soap12:address location="http://52.67.249.164:8071/Process_Acceso.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_AccesoHttpGet" binding="tns:Process_AccesoHttpGet">
      <http:address location="http://52.67.249.164:8071/Process_Acceso.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_AccesoHttpPost" binding="tns:Process_AccesoHttpPost">
      <http:address location="http://52.67.249.164:8071/Process_Acceso.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>