Process_APP_Desk/Connected Services/ServiceProcess_CargosUsuarios/Process_CargosUsuarios1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarCargosUsuarioSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_id_cargo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_estado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCargosUsuarioSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarCargosUsuarioSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCargosUsuarioSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_id_cargo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_estado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCargosUsuarioSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarCargosUsuarioSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerCargosUsuarioPorRutPorCargoSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_id_cargo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerCargosUsuarioPorRutSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerCargosUsuarioPorRutSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerCargosUsuarioPorRutSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarCargosUsuarioSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarCargosUsuarioSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="InsertarCargosUsuarioSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarCargosUsuarioSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCargosUsuarioSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarCargosUsuarioSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="ActualizarCargosUsuarioSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarCargosUsuarioSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerCargosUsuarioPorRutPorCargoSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerCargosUsuarioPorRutSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerCargosUsuarioPorRutSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerCargosUsuarioPorRutSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerCargosUsuarioPorRutSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarCargosUsuarioSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_id_cargo" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarCargosUsuarioSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarCargosUsuarioSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_id_cargo" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarCargosUsuarioSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_id_cargo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerCargosUsuarioPorRutSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCargosUsuarioPorRutSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="InsertarCargosUsuarioSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_id_cargo" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarCargosUsuarioSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarCargosUsuarioSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_id_cargo" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarCargosUsuarioSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_id_cargo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerCargosUsuarioPorRutSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCargosUsuarioPorRutSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="Process_CargosUsuariosSoap">
    <wsdl:operation name="InsertarCargosUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarCargosUsuarioSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:InsertarCargosUsuarioSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCargosUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarCargosUsuarioSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:ActualizarCargosUsuarioSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutPorCargoSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCargosUsuarioPorRutSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerCargosUsuarioPorRutSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_CargosUsuariosHttpGet">
    <wsdl:operation name="InsertarCargosUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarCargosUsuarioSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:InsertarCargosUsuarioSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCargosUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarCargosUsuarioSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:ActualizarCargosUsuarioSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutPorCargoSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCargosUsuarioPorRutSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerCargosUsuarioPorRutSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_CargosUsuariosHttpPost">
    <wsdl:operation name="InsertarCargosUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarCargosUsuarioSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:InsertarCargosUsuarioSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCargosUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarCargosUsuarioSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:ActualizarCargosUsuarioSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutPorCargoSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerCargosUsuarioPorRutPorCargoSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCargosUsuarioPorRutSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerCargosUsuarioPorRutSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Process_CargosUsuariosSoap" type="tns:Process_CargosUsuariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarCargosUsuarioSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/InsertarCargosUsuarioSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCargosUsuarioSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/ActualizarCargosUsuarioSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutPorCargoSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerCargosUsuarioPorRutPorCargoSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerCargosUsuarioPorRutSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_CargosUsuariosSoap12" type="tns:Process_CargosUsuariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarCargosUsuarioSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/InsertarCargosUsuarioSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCargosUsuarioSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/ActualizarCargosUsuarioSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutPorCargoSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerCargosUsuarioPorRutPorCargoSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerCargosUsuarioPorRutSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_CargosUsuariosHttpGet" type="tns:Process_CargosUsuariosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="InsertarCargosUsuarioSinEntidad_Escritorio">
      <http:operation location="/InsertarCargosUsuarioSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCargosUsuarioSinEntidad_Escritorio">
      <http:operation location="/ActualizarCargosUsuarioSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutPorCargoSinEntidad_Escritorio">
      <http:operation location="/TraerCargosUsuarioPorRutPorCargoSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutSinEntidad_Escritorio">
      <http:operation location="/TraerCargosUsuarioPorRutSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_CargosUsuariosHttpPost" type="tns:Process_CargosUsuariosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="InsertarCargosUsuarioSinEntidad_Escritorio">
      <http:operation location="/InsertarCargosUsuarioSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCargosUsuarioSinEntidad_Escritorio">
      <http:operation location="/ActualizarCargosUsuarioSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutPorCargoSinEntidad_Escritorio">
      <http:operation location="/TraerCargosUsuarioPorRutPorCargoSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCargosUsuarioPorRutSinEntidad_Escritorio">
      <http:operation location="/TraerCargosUsuarioPorRutSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Process_CargosUsuarios">
    <wsdl:port name="Process_CargosUsuariosSoap" binding="tns:Process_CargosUsuariosSoap">
      <soap:address location="http://52.67.249.164:8071/Process_CargosUsuarios.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_CargosUsuariosSoap12" binding="tns:Process_CargosUsuariosSoap12">
      <soap12:address location="http://52.67.249.164:8071/Process_CargosUsuarios.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_CargosUsuariosHttpGet" binding="tns:Process_CargosUsuariosHttpGet">
      <http:address location="http://52.67.249.164:8071/Process_CargosUsuarios.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_CargosUsuariosHttpPost" binding="tns:Process_CargosUsuariosHttpPost">
      <http:address location="http://52.67.249.164:8071/Process_CargosUsuarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>