Process_APP_Desk/Connected Services/ServiceProcess_UsuarioEquipo/Process_UsuarioEquipo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarUsuarioEquipoSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_id_equipo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_responsable" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarUsuarioEquipoSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarUsuarioEquipoSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarUsuarioEquipoSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_id_equipo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_responsable" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarUsuarioEquipoSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarUsuarioEquipoSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioEquiPorEquipoPorRutConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_equipo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioResult" type="tns:UsuarioEquipo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UsuarioEquipo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Rut_usuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_equipo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Responsable" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraerUsuarioEquipoSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_equipo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioEquipoSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerUsuarioEquipoSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarUsuarioEquipoSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_equipo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarUsuarioEquipoSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarUsuarioEquipoSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="UsuarioEquipo" nillable="true" type="tns:UsuarioEquipo" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarUsuarioEquipoSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarUsuarioEquipoSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioEquipoSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarUsuarioEquipoSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioEquipoSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioEquipoSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioEquipoSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioEquipoSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerUsuarioEquiPorEquipoPorRutConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioEquipoSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerUsuarioEquipoSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioEquipoSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerUsuarioEquipoSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioEquipoSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioEquipoSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioEquipoSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioEquipoSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioEquipoSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_id_equipo" type="s:string" />
    <wsdl:part name="_responsable" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioEquipoSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioEquipoSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_id_equipo" type="s:string" />
    <wsdl:part name="_responsable" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioEquipoSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_equipo" type="s:string" />
    <wsdl:part name="_rut_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:UsuarioEquipo" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioEquipoSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_equipo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioEquipoSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioEquipoSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_equipo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioEquipoSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioEquipoSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_id_equipo" type="s:string" />
    <wsdl:part name="_responsable" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioEquipoSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioEquipoSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_id_equipo" type="s:string" />
    <wsdl:part name="_responsable" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioEquipoSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_equipo" type="s:string" />
    <wsdl:part name="_rut_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:UsuarioEquipo" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioEquipoSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_equipo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioEquipoSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioEquipoSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_equipo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioEquipoSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="Process_UsuarioEquipoSoap">
    <wsdl:operation name="InsertarUsuarioEquipoSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarUsuarioEquipoSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:InsertarUsuarioEquipoSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioEquipoSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarUsuarioEquipoSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:ActualizarUsuarioEquipoSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquiPorEquipoPorRutConEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquipoSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioEquipoSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerUsuarioEquipoSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuarioEquipoSinEntidad_Escritorio">
      <wsdl:input message="tns:EliminarUsuarioEquipoSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:EliminarUsuarioEquipoSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_UsuarioEquipoHttpGet">
    <wsdl:operation name="InsertarUsuarioEquipoSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarUsuarioEquipoSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:InsertarUsuarioEquipoSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioEquipoSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarUsuarioEquipoSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:ActualizarUsuarioEquipoSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquiPorEquipoPorRutConEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquipoSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioEquipoSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerUsuarioEquipoSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuarioEquipoSinEntidad_Escritorio">
      <wsdl:input message="tns:EliminarUsuarioEquipoSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:EliminarUsuarioEquipoSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_UsuarioEquipoHttpPost">
    <wsdl:operation name="InsertarUsuarioEquipoSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarUsuarioEquipoSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:InsertarUsuarioEquipoSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioEquipoSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarUsuarioEquipoSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:ActualizarUsuarioEquipoSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquiPorEquipoPorRutConEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerUsuarioEquiPorEquipoPorRutConEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquipoSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioEquipoSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerUsuarioEquipoSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuarioEquipoSinEntidad_Escritorio">
      <wsdl:input message="tns:EliminarUsuarioEquipoSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:EliminarUsuarioEquipoSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Process_UsuarioEquipoSoap" type="tns:Process_UsuarioEquipoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarUsuarioEquipoSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/InsertarUsuarioEquipoSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioEquipoSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/ActualizarUsuarioEquipoSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquiPorEquipoPorRutConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerUsuarioEquiPorEquipoPorRutConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquipoSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerUsuarioEquipoSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuarioEquipoSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/EliminarUsuarioEquipoSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_UsuarioEquipoSoap12" type="tns:Process_UsuarioEquipoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarUsuarioEquipoSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/InsertarUsuarioEquipoSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioEquipoSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/ActualizarUsuarioEquipoSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquiPorEquipoPorRutConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerUsuarioEquiPorEquipoPorRutConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquipoSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerUsuarioEquipoSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuarioEquipoSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/EliminarUsuarioEquipoSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_UsuarioEquipoHttpGet" type="tns:Process_UsuarioEquipoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="InsertarUsuarioEquipoSinEntidad_Escritorio">
      <http:operation location="/InsertarUsuarioEquipoSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioEquipoSinEntidad_Escritorio">
      <http:operation location="/ActualizarUsuarioEquipoSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquiPorEquipoPorRutConEntidad_Escritorio">
      <http:operation location="/TraerUsuarioEquiPorEquipoPorRutConEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquipoSinEntidad_Escritorio">
      <http:operation location="/TraerUsuarioEquipoSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuarioEquipoSinEntidad_Escritorio">
      <http:operation location="/EliminarUsuarioEquipoSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_UsuarioEquipoHttpPost" type="tns:Process_UsuarioEquipoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="InsertarUsuarioEquipoSinEntidad_Escritorio">
      <http:operation location="/InsertarUsuarioEquipoSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioEquipoSinEntidad_Escritorio">
      <http:operation location="/ActualizarUsuarioEquipoSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquiPorEquipoPorRutConEntidad_Escritorio">
      <http:operation location="/TraerUsuarioEquiPorEquipoPorRutConEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioEquipoSinEntidad_Escritorio">
      <http:operation location="/TraerUsuarioEquipoSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuarioEquipoSinEntidad_Escritorio">
      <http:operation location="/EliminarUsuarioEquipoSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Process_UsuarioEquipo">
    <wsdl:port name="Process_UsuarioEquipoSoap" binding="tns:Process_UsuarioEquipoSoap">
      <soap:address location="http://52.67.249.164:8071/Process_UsuarioEquipo.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_UsuarioEquipoSoap12" binding="tns:Process_UsuarioEquipoSoap12">
      <soap12:address location="http://52.67.249.164:8071/Process_UsuarioEquipo.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_UsuarioEquipoHttpGet" binding="tns:Process_UsuarioEquipoHttpGet">
      <http:address location="http://52.67.249.164:8071/Process_UsuarioEquipo.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_UsuarioEquipoHttpPost" binding="tns:Process_UsuarioEquipoHttpPost">
      <http:address location="http://52.67.249.164:8071/Process_UsuarioEquipo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>