Process_APP_Desk/Connected Services/ServiceProcess_Cuenta/Process_Cuenta1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarCuentaConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_unidad">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCuentaConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarCuentaConEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCuentaSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_rut_empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_contrasena" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_estado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_id_rol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCuentaSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarCuentaSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCuentaConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_unidad">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCuentaConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarCuentaConEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCuentaSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_rut_empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_contrasena" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_estado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_id_rol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCuentaSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarCuentaSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerCuentaSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerCuentaSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerCuentaSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerCuentaConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerCuentaConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerCuentaConEntidad_EscritorioResult" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cuenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Rut_usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rut_empresa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_rol" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraerCuentaConEmpresaSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_rut_empresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerCuentaConEmpresaSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerCuentaConEmpresaSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerCuentaConEmpresaConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_rut_empresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerCuentaConEmpresaConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerCuentaConEmpresaConEntidad_EscritorioResult" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerTodasCuentas_Escritorio">
        <s:complexType />
      </s:element>
      <s:element name="TraerTodasCuentas_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTodasCuentas_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerCuentaConClaveSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_palabra_clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerCuentaConClaveSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerCuentaConClaveSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cuenta" nillable="true" type="tns:Cuenta" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarCuentaConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarCuentaConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="InsertarCuentaConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarCuentaConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarCuentaSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarCuentaSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="InsertarCuentaSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarCuentaSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarCuentaConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarCuentaConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarCuentaSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarCuentaSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerCuentaSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerCuentaSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerCuentaConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerCuentaConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEmpresaSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerCuentaConEmpresaSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEmpresaSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerCuentaConEmpresaSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEmpresaConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerCuentaConEmpresaConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEmpresaConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerCuentaConEmpresaConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTodasCuentas_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTodasCuentas_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerTodasCuentas_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTodasCuentas_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConClaveSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerCuentaConClaveSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConClaveSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerCuentaConClaveSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarCuentaSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_rut_empresa" type="s:string" />
    <wsdl:part name="_contrasena" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
    <wsdl:part name="_id_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarCuentaSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_rut_empresa" type="s:string" />
    <wsdl:part name="_contrasena" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
    <wsdl:part name="_id_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:Cuenta" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEmpresaSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_rut_empresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEmpresaSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEmpresaConEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_rut_empresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEmpresaConEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:Cuenta" />
  </wsdl:message>
  <wsdl:message name="TraerTodasCuentas_EscritorioHttpGetIn" />
  <wsdl:message name="TraerTodasCuentas_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConClaveSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_palabra_clave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConClaveSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="InsertarCuentaSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_rut_empresa" type="s:string" />
    <wsdl:part name="_contrasena" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
    <wsdl:part name="_id_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarCuentaSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_rut_empresa" type="s:string" />
    <wsdl:part name="_contrasena" type="s:string" />
    <wsdl:part name="_estado" type="s:string" />
    <wsdl:part name="_id_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:Cuenta" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEmpresaSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_rut_empresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEmpresaSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEmpresaConEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_rut_empresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConEmpresaConEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:Cuenta" />
  </wsdl:message>
  <wsdl:message name="TraerTodasCuentas_EscritorioHttpPostIn" />
  <wsdl:message name="TraerTodasCuentas_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConClaveSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_palabra_clave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerCuentaConClaveSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="Process_CuentaSoap">
    <wsdl:operation name="InsertarCuentaConEntidad_Escritorio">
      <wsdl:input message="tns:InsertarCuentaConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:InsertarCuentaConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarCuentaSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarCuentaSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:InsertarCuentaSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuentaConEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarCuentaConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:ActualizarCuentaConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuentaSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarCuentaSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:ActualizarCuentaSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerCuentaSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerCuentaConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaConEmpresaSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerCuentaConEmpresaSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaConEmpresaConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerCuentaConEmpresaConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasCuentas_Escritorio">
      <wsdl:input message="tns:TraerTodasCuentas_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerTodasCuentas_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConClaveSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaConClaveSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerCuentaConClaveSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_CuentaHttpGet">
    <wsdl:operation name="InsertarCuentaSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarCuentaSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:InsertarCuentaSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuentaSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarCuentaSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:ActualizarCuentaSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerCuentaSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaConEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerCuentaConEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaConEmpresaSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerCuentaConEmpresaSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaConEmpresaConEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerCuentaConEmpresaConEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasCuentas_Escritorio">
      <wsdl:input message="tns:TraerTodasCuentas_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerTodasCuentas_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConClaveSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaConClaveSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerCuentaConClaveSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_CuentaHttpPost">
    <wsdl:operation name="InsertarCuentaSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarCuentaSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:InsertarCuentaSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuentaSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarCuentaSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:ActualizarCuentaSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerCuentaSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaConEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerCuentaConEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaConEmpresaSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerCuentaConEmpresaSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaConEmpresaConEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerCuentaConEmpresaConEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasCuentas_Escritorio">
      <wsdl:input message="tns:TraerTodasCuentas_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerTodasCuentas_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConClaveSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerCuentaConClaveSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerCuentaConClaveSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Process_CuentaSoap" type="tns:Process_CuentaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarCuentaConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/InsertarCuentaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCuentaSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/InsertarCuentaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuentaConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/ActualizarCuentaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuentaSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/ActualizarCuentaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerCuentaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerCuentaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerCuentaConEmpresaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerCuentaConEmpresaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasCuentas_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerTodasCuentas_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConClaveSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerCuentaConClaveSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_CuentaSoap12" type="tns:Process_CuentaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarCuentaConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/InsertarCuentaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCuentaSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/InsertarCuentaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuentaConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/ActualizarCuentaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuentaSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/ActualizarCuentaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerCuentaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerCuentaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerCuentaConEmpresaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerCuentaConEmpresaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasCuentas_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerTodasCuentas_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConClaveSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerCuentaConClaveSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_CuentaHttpGet" type="tns:Process_CuentaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="InsertarCuentaSinEntidad_Escritorio">
      <http:operation location="/InsertarCuentaSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuentaSinEntidad_Escritorio">
      <http:operation location="/ActualizarCuentaSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaSinEntidad_Escritorio">
      <http:operation location="/TraerCuentaSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEntidad_Escritorio">
      <http:operation location="/TraerCuentaConEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaSinEntidad_Escritorio">
      <http:operation location="/TraerCuentaConEmpresaSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaConEntidad_Escritorio">
      <http:operation location="/TraerCuentaConEmpresaConEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasCuentas_Escritorio">
      <http:operation location="/TraerTodasCuentas_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConClaveSinEntidad_Escritorio">
      <http:operation location="/TraerCuentaConClaveSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_CuentaHttpPost" type="tns:Process_CuentaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="InsertarCuentaSinEntidad_Escritorio">
      <http:operation location="/InsertarCuentaSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuentaSinEntidad_Escritorio">
      <http:operation location="/ActualizarCuentaSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaSinEntidad_Escritorio">
      <http:operation location="/TraerCuentaSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEntidad_Escritorio">
      <http:operation location="/TraerCuentaConEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaSinEntidad_Escritorio">
      <http:operation location="/TraerCuentaConEmpresaSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConEmpresaConEntidad_Escritorio">
      <http:operation location="/TraerCuentaConEmpresaConEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasCuentas_Escritorio">
      <http:operation location="/TraerTodasCuentas_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCuentaConClaveSinEntidad_Escritorio">
      <http:operation location="/TraerCuentaConClaveSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Process_Cuenta">
    <wsdl:port name="Process_CuentaSoap" binding="tns:Process_CuentaSoap">
      <soap:address location="http://52.67.249.164:8071/Process_Cuenta.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_CuentaSoap12" binding="tns:Process_CuentaSoap12">
      <soap12:address location="http://52.67.249.164:8071/Process_Cuenta.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_CuentaHttpGet" binding="tns:Process_CuentaHttpGet">
      <http:address location="http://52.67.249.164:8071/Process_Cuenta.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_CuentaHttpPost" binding="tns:Process_CuentaHttpPost">
      <http:address location="http://52.67.249.164:8071/Process_Cuenta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>