Process_APP_Desk/Connected Services/ServiceProcess_Permisos/Process_Permisos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarPermisosSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_acceso" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_rol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarPermisosSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarPermisosSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarPermisosSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_acceso" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_rol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarPermisosSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarPermisosSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerPermisosPorAccesoPorRolSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_acceso" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_rol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerPermisosPorAccesoPorRolSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerPermisosPorAccesoPorRolSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerPermisosPorRolSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_rol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerPermisosPorRolSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerPermisosPorRolSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerPermisosPorRolConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_rol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerPermisosPorRolConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerPermisosPorRolConEntidad_EscritorioResult" type="tns:Permisos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Permisos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_acceso" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_rol" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="int" type="s:int" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Permisos" nillable="true" type="tns:Permisos" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarPermisosSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarPermisosSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="InsertarPermisosSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarPermisosSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarPermisosSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarPermisosSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="ActualizarPermisosSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarPermisosSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorAccesoPorRolSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerPermisosPorAccesoPorRolSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorAccesoPorRolSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerPermisosPorAccesoPorRolSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorRolSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerPermisosPorRolSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorRolSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerPermisosPorRolSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorRolConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerPermisosPorRolConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorRolConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerPermisosPorRolConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarPermisosSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_acceso" type="s:string" />
    <wsdl:part name="_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarPermisosSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarPermisosSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_acceso" type="s:string" />
    <wsdl:part name="_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarPermisosSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorAccesoPorRolSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_acceso" type="s:string" />
    <wsdl:part name="_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorAccesoPorRolSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorRolSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorRolSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorRolConEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorRolConEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:Permisos" />
  </wsdl:message>
  <wsdl:message name="InsertarPermisosSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_acceso" type="s:string" />
    <wsdl:part name="_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarPermisosSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarPermisosSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_acceso" type="s:string" />
    <wsdl:part name="_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarPermisosSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorAccesoPorRolSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_acceso" type="s:string" />
    <wsdl:part name="_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorAccesoPorRolSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorRolSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorRolSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorRolConEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_rol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerPermisosPorRolConEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:Permisos" />
  </wsdl:message>
  <wsdl:portType name="Process_PermisosSoap">
    <wsdl:operation name="InsertarPermisosSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarPermisosSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:InsertarPermisosSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPermisosSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarPermisosSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:ActualizarPermisosSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorAccesoPorRolSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerPermisosPorAccesoPorRolSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerPermisosPorAccesoPorRolSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerPermisosPorRolSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerPermisosPorRolSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolConEntidad_Escritorio">
      <wsdl:input message="tns:TraerPermisosPorRolConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerPermisosPorRolConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_PermisosHttpGet">
    <wsdl:operation name="InsertarPermisosSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarPermisosSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:InsertarPermisosSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPermisosSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarPermisosSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:ActualizarPermisosSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorAccesoPorRolSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerPermisosPorAccesoPorRolSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerPermisosPorAccesoPorRolSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerPermisosPorRolSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerPermisosPorRolSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolConEntidad_Escritorio">
      <wsdl:input message="tns:TraerPermisosPorRolConEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerPermisosPorRolConEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_PermisosHttpPost">
    <wsdl:operation name="InsertarPermisosSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarPermisosSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:InsertarPermisosSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPermisosSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarPermisosSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:ActualizarPermisosSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorAccesoPorRolSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerPermisosPorAccesoPorRolSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerPermisosPorAccesoPorRolSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerPermisosPorRolSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerPermisosPorRolSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolConEntidad_Escritorio">
      <wsdl:input message="tns:TraerPermisosPorRolConEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerPermisosPorRolConEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Process_PermisosSoap" type="tns:Process_PermisosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarPermisosSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/InsertarPermisosSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPermisosSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/ActualizarPermisosSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorAccesoPorRolSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerPermisosPorAccesoPorRolSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerPermisosPorRolSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerPermisosPorRolConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_PermisosSoap12" type="tns:Process_PermisosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarPermisosSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/InsertarPermisosSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPermisosSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/ActualizarPermisosSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorAccesoPorRolSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerPermisosPorAccesoPorRolSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerPermisosPorRolSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerPermisosPorRolConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_PermisosHttpGet" type="tns:Process_PermisosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="InsertarPermisosSinEntidad_Escritorio">
      <http:operation location="/InsertarPermisosSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPermisosSinEntidad_Escritorio">
      <http:operation location="/ActualizarPermisosSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorAccesoPorRolSinEntidad_Escritorio">
      <http:operation location="/TraerPermisosPorAccesoPorRolSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolSinEntidad_Escritorio">
      <http:operation location="/TraerPermisosPorRolSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolConEntidad_Escritorio">
      <http:operation location="/TraerPermisosPorRolConEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_PermisosHttpPost" type="tns:Process_PermisosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="InsertarPermisosSinEntidad_Escritorio">
      <http:operation location="/InsertarPermisosSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPermisosSinEntidad_Escritorio">
      <http:operation location="/ActualizarPermisosSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorAccesoPorRolSinEntidad_Escritorio">
      <http:operation location="/TraerPermisosPorAccesoPorRolSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolSinEntidad_Escritorio">
      <http:operation location="/TraerPermisosPorRolSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPermisosPorRolConEntidad_Escritorio">
      <http:operation location="/TraerPermisosPorRolConEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Process_Permisos">
    <wsdl:port name="Process_PermisosSoap" binding="tns:Process_PermisosSoap">
      <soap:address location="http://localhost:52755/Process_Permisos.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_PermisosSoap12" binding="tns:Process_PermisosSoap12">
      <soap12:address location="http://localhost:52755/Process_Permisos.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_PermisosHttpGet" binding="tns:Process_PermisosHttpGet">
      <http:address location="http://localhost:52755/Process_Permisos.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_PermisosHttpPost" binding="tns:Process_PermisosHttpPost">
      <http:address location="http://localhost:52755/Process_Permisos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>