Process_APP_Desk/Connected Services/ServiceProcess_Provincia/Process_Provincia1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TraerProvinciaSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_provincia" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerProvinciaSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerProvinciaSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerProvinciaConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_provincia" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerProvinciaConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerProvinciaConEntidad_EscritorioResult" type="tns:Provincia" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Provincia">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_provincia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_region" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraerTodasProvinciasPorRegion_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id_region" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerTodasProvinciasPorRegion_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTodasProvinciasPorRegion_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerTodasProvincias_Escritorio">
        <s:complexType />
      </s:element>
      <s:element name="TraerTodasProvincias_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTodasProvincias_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Provincia" nillable="true" type="tns:Provincia" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TraerProvinciaSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerProvinciaSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerProvinciaSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerProvinciaSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerProvinciaConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerProvinciaConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerProvinciaConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerProvinciaConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTodasProvinciasPorRegion_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTodasProvinciasPorRegion_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerTodasProvinciasPorRegion_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTodasProvinciasPorRegion_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTodasProvincias_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTodasProvincias_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerTodasProvincias_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTodasProvincias_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerProvinciaSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_provincia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerProvinciaSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerProvinciaConEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_id_provincia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerProvinciaConEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:Provincia" />
  </wsdl:message>
  <wsdl:message name="TraerTodasProvinciasPorRegion_EscritorioHttpGetIn">
    <wsdl:part name="_id_region" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerTodasProvinciasPorRegion_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerTodasProvincias_EscritorioHttpGetIn" />
  <wsdl:message name="TraerTodasProvincias_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerProvinciaSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_provincia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerProvinciaSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerProvinciaConEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_id_provincia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerProvinciaConEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:Provincia" />
  </wsdl:message>
  <wsdl:message name="TraerTodasProvinciasPorRegion_EscritorioHttpPostIn">
    <wsdl:part name="_id_region" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerTodasProvinciasPorRegion_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerTodasProvincias_EscritorioHttpPostIn" />
  <wsdl:message name="TraerTodasProvincias_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="Process_ProvinciaSoap">
    <wsdl:operation name="TraerProvinciaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerProvinciaSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerProvinciaSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerProvinciaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerProvinciaConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerProvinciaConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvinciasPorRegion_Escritorio">
      <wsdl:input message="tns:TraerTodasProvinciasPorRegion_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerTodasProvinciasPorRegion_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvincias_Escritorio">
      <wsdl:input message="tns:TraerTodasProvincias_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerTodasProvincias_EscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_ProvinciaHttpGet">
    <wsdl:operation name="TraerProvinciaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerProvinciaSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerProvinciaSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerProvinciaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerProvinciaConEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerProvinciaConEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvinciasPorRegion_Escritorio">
      <wsdl:input message="tns:TraerTodasProvinciasPorRegion_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerTodasProvinciasPorRegion_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvincias_Escritorio">
      <wsdl:input message="tns:TraerTodasProvincias_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerTodasProvincias_EscritorioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_ProvinciaHttpPost">
    <wsdl:operation name="TraerProvinciaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerProvinciaSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerProvinciaSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerProvinciaConEntidad_Escritorio">
      <wsdl:input message="tns:TraerProvinciaConEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerProvinciaConEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvinciasPorRegion_Escritorio">
      <wsdl:input message="tns:TraerTodasProvinciasPorRegion_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerTodasProvinciasPorRegion_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvincias_Escritorio">
      <wsdl:input message="tns:TraerTodasProvincias_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerTodasProvincias_EscritorioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Process_ProvinciaSoap" type="tns:Process_ProvinciaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerProvinciaSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerProvinciaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerProvinciaConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerProvinciaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvinciasPorRegion_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerTodasProvinciasPorRegion_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvincias_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerTodasProvincias_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_ProvinciaSoap12" type="tns:Process_ProvinciaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerProvinciaSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerProvinciaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerProvinciaConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerProvinciaConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvinciasPorRegion_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerTodasProvinciasPorRegion_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvincias_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerTodasProvincias_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_ProvinciaHttpGet" type="tns:Process_ProvinciaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="TraerProvinciaSinEntidad_Escritorio">
      <http:operation location="/TraerProvinciaSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerProvinciaConEntidad_Escritorio">
      <http:operation location="/TraerProvinciaConEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvinciasPorRegion_Escritorio">
      <http:operation location="/TraerTodasProvinciasPorRegion_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvincias_Escritorio">
      <http:operation location="/TraerTodasProvincias_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_ProvinciaHttpPost" type="tns:Process_ProvinciaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="TraerProvinciaSinEntidad_Escritorio">
      <http:operation location="/TraerProvinciaSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerProvinciaConEntidad_Escritorio">
      <http:operation location="/TraerProvinciaConEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvinciasPorRegion_Escritorio">
      <http:operation location="/TraerTodasProvinciasPorRegion_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasProvincias_Escritorio">
      <http:operation location="/TraerTodasProvincias_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Process_Provincia">
    <wsdl:port name="Process_ProvinciaSoap" binding="tns:Process_ProvinciaSoap">
      <soap:address location="http://52.67.249.164:8071/Process_Provincia.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_ProvinciaSoap12" binding="tns:Process_ProvinciaSoap12">
      <soap12:address location="http://52.67.249.164:8071/Process_Provincia.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_ProvinciaHttpGet" binding="tns:Process_ProvinciaHttpGet">
      <http:address location="http://52.67.249.164:8071/Process_Provincia.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_ProvinciaHttpPost" binding="tns:Process_ProvinciaHttpPost">
      <http:address location="http://52.67.249.164:8071/Process_Provincia.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>