Process_APP_Desk/Connected Services/ServiceProcess_Usuario/Process_Usuario1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarUsuarioConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_unidad">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarUsuarioConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarUsuarioConEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarUsuarioSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_primer_nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_segundo_nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_primer_apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_segundo_apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_telefono_fijp" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_telefono_movil" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_id_comuna" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarUsuarioSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarUsuarioSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarUsuarioConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_unidad">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarUsuarioConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarUsuarioConEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarUsuarioSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_primer_nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_segundo_nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_primer_apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_segundo_apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_telefono_fijp" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_telefono_movil" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_id_comuna" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarUsuarioSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarUsuarioSinEntidad_EscritorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerUsuarioSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioConEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioConEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerUsuarioConEntidad_EscritorioResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Rut_usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Primer_nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Segundo_nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Primer_apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Segundo_apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Telefono_fijo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Telefono_movil" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_comuna" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraerTodasUsuarios_Escritorio">
        <s:complexType />
      </s:element>
      <s:element name="TraerTodasUsuarios_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTodasUsuarios_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioPorRutPorEmpresaSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_rut_empresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerTodasUsuariosJoin_Escritorio">
        <s:complexType />
      </s:element>
      <s:element name="TraerTodasUsuariosJoin_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTodasUsuariosJoin_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioConClaveSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_palabra_clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioConClaveSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerUsuarioConClaveSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioConFiltroSinEntidad_Escritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_palabra_clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioConFiltroSinEntidad_EscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerUsuarioConFiltroSinEntidad_EscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Usuario" nillable="true" type="tns:Usuario" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarUsuarioConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarUsuarioConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarUsuarioConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarUsuarioSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarUsuarioSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerUsuarioSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerUsuarioSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerUsuarioConEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerUsuarioConEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTodasUsuarios_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTodasUsuarios_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerTodasUsuarios_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTodasUsuarios_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerUsuarioPorRutPorEmpresaSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTodasUsuariosJoin_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTodasUsuariosJoin_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerTodasUsuariosJoin_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTodasUsuariosJoin_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConClaveSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerUsuarioConClaveSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConClaveSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerUsuarioConClaveSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConFiltroSinEntidad_EscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerUsuarioConFiltroSinEntidad_Escritorio" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConFiltroSinEntidad_EscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerUsuarioConFiltroSinEntidad_EscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_primer_nombre" type="s:string" />
    <wsdl:part name="_segundo_nombre" type="s:string" />
    <wsdl:part name="_primer_apellido" type="s:string" />
    <wsdl:part name="_segundo_apellido" type="s:string" />
    <wsdl:part name="_direccion" type="s:string" />
    <wsdl:part name="_telefono_fijp" type="s:string" />
    <wsdl:part name="_telefono_movil" type="s:string" />
    <wsdl:part name="_id_comuna" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_primer_nombre" type="s:string" />
    <wsdl:part name="_segundo_nombre" type="s:string" />
    <wsdl:part name="_primer_apellido" type="s:string" />
    <wsdl:part name="_segundo_apellido" type="s:string" />
    <wsdl:part name="_direccion" type="s:string" />
    <wsdl:part name="_telefono_fijp" type="s:string" />
    <wsdl:part name="_telefono_movil" type="s:string" />
    <wsdl:part name="_id_comuna" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:Usuario" />
  </wsdl:message>
  <wsdl:message name="TraerTodasUsuarios_EscritorioHttpGetIn" />
  <wsdl:message name="TraerTodasUsuarios_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_rut_empresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerTodasUsuariosJoin_EscritorioHttpGetIn" />
  <wsdl:message name="TraerTodasUsuariosJoin_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConClaveSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_palabra_clave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConClaveSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConFiltroSinEntidad_EscritorioHttpGetIn">
    <wsdl:part name="_palabra_clave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConFiltroSinEntidad_EscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_primer_nombre" type="s:string" />
    <wsdl:part name="_segundo_nombre" type="s:string" />
    <wsdl:part name="_primer_apellido" type="s:string" />
    <wsdl:part name="_segundo_apellido" type="s:string" />
    <wsdl:part name="_direccion" type="s:string" />
    <wsdl:part name="_telefono_fijp" type="s:string" />
    <wsdl:part name="_telefono_movil" type="s:string" />
    <wsdl:part name="_id_comuna" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_primer_nombre" type="s:string" />
    <wsdl:part name="_segundo_nombre" type="s:string" />
    <wsdl:part name="_primer_apellido" type="s:string" />
    <wsdl:part name="_segundo_apellido" type="s:string" />
    <wsdl:part name="_direccion" type="s:string" />
    <wsdl:part name="_telefono_fijp" type="s:string" />
    <wsdl:part name="_telefono_movil" type="s:string" />
    <wsdl:part name="_id_comuna" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:Usuario" />
  </wsdl:message>
  <wsdl:message name="TraerTodasUsuarios_EscritorioHttpPostIn" />
  <wsdl:message name="TraerTodasUsuarios_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_rut_usuario" type="s:string" />
    <wsdl:part name="_rut_empresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerTodasUsuariosJoin_EscritorioHttpPostIn" />
  <wsdl:message name="TraerTodasUsuariosJoin_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConClaveSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_palabra_clave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConClaveSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConFiltroSinEntidad_EscritorioHttpPostIn">
    <wsdl:part name="_palabra_clave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioConFiltroSinEntidad_EscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="Process_UsuarioSoap">
    <wsdl:operation name="InsertarUsuarioConEntidad_Escritorio">
      <wsdl:input message="tns:InsertarUsuarioConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:InsertarUsuarioConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarUsuarioSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:InsertarUsuarioSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioConEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarUsuarioConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:ActualizarUsuarioConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarUsuarioSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:ActualizarUsuarioSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerUsuarioSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioConEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerUsuarioConEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuarios_Escritorio">
      <wsdl:input message="tns:TraerTodasUsuarios_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerTodasUsuarios_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioPorRutPorEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuariosJoin_Escritorio">
      <wsdl:input message="tns:TraerTodasUsuariosJoin_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerTodasUsuariosJoin_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConClaveSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioConClaveSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerUsuarioConClaveSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConFiltroSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioConFiltroSinEntidad_EscritorioSoapIn" />
      <wsdl:output message="tns:TraerUsuarioConFiltroSinEntidad_EscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_UsuarioHttpGet">
    <wsdl:operation name="InsertarUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarUsuarioSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:InsertarUsuarioSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarUsuarioSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:ActualizarUsuarioSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerUsuarioSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioConEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerUsuarioConEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuarios_Escritorio">
      <wsdl:input message="tns:TraerTodasUsuarios_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerTodasUsuarios_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioPorRutPorEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuariosJoin_Escritorio">
      <wsdl:input message="tns:TraerTodasUsuariosJoin_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerTodasUsuariosJoin_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConClaveSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioConClaveSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerUsuarioConClaveSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConFiltroSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioConFiltroSinEntidad_EscritorioHttpGetIn" />
      <wsdl:output message="tns:TraerUsuarioConFiltroSinEntidad_EscritorioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Process_UsuarioHttpPost">
    <wsdl:operation name="InsertarUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:InsertarUsuarioSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:InsertarUsuarioSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:ActualizarUsuarioSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:ActualizarUsuarioSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerUsuarioSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioConEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerUsuarioConEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuarios_Escritorio">
      <wsdl:input message="tns:TraerTodasUsuarios_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerTodasUsuarios_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioPorRutPorEmpresaSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerUsuarioPorRutPorEmpresaSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuariosJoin_Escritorio">
      <wsdl:input message="tns:TraerTodasUsuariosJoin_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerTodasUsuariosJoin_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConClaveSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioConClaveSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerUsuarioConClaveSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConFiltroSinEntidad_Escritorio">
      <wsdl:input message="tns:TraerUsuarioConFiltroSinEntidad_EscritorioHttpPostIn" />
      <wsdl:output message="tns:TraerUsuarioConFiltroSinEntidad_EscritorioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Process_UsuarioSoap" type="tns:Process_UsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarUsuarioConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/InsertarUsuarioConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarUsuarioSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/InsertarUsuarioSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/ActualizarUsuarioConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/ActualizarUsuarioSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerUsuarioSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerUsuarioConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuarios_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerTodasUsuarios_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioPorRutPorEmpresaSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerUsuarioPorRutPorEmpresaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuariosJoin_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerTodasUsuariosJoin_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConClaveSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerUsuarioConClaveSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConFiltroSinEntidad_Escritorio">
      <soap:operation soapAction="http://tempuri.org/TraerUsuarioConFiltroSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_UsuarioSoap12" type="tns:Process_UsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarUsuarioConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/InsertarUsuarioConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarUsuarioSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/InsertarUsuarioSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/ActualizarUsuarioConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/ActualizarUsuarioSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerUsuarioSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerUsuarioConEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuarios_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerTodasUsuarios_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioPorRutPorEmpresaSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerUsuarioPorRutPorEmpresaSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuariosJoin_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerTodasUsuariosJoin_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConClaveSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerUsuarioConClaveSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConFiltroSinEntidad_Escritorio">
      <soap12:operation soapAction="http://tempuri.org/TraerUsuarioConFiltroSinEntidad_Escritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_UsuarioHttpGet" type="tns:Process_UsuarioHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="InsertarUsuarioSinEntidad_Escritorio">
      <http:operation location="/InsertarUsuarioSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioSinEntidad_Escritorio">
      <http:operation location="/ActualizarUsuarioSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioSinEntidad_Escritorio">
      <http:operation location="/TraerUsuarioSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConEntidad_Escritorio">
      <http:operation location="/TraerUsuarioConEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuarios_Escritorio">
      <http:operation location="/TraerTodasUsuarios_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioPorRutPorEmpresaSinEntidad_Escritorio">
      <http:operation location="/TraerUsuarioPorRutPorEmpresaSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuariosJoin_Escritorio">
      <http:operation location="/TraerTodasUsuariosJoin_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConClaveSinEntidad_Escritorio">
      <http:operation location="/TraerUsuarioConClaveSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConFiltroSinEntidad_Escritorio">
      <http:operation location="/TraerUsuarioConFiltroSinEntidad_Escritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Process_UsuarioHttpPost" type="tns:Process_UsuarioHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="InsertarUsuarioSinEntidad_Escritorio">
      <http:operation location="/InsertarUsuarioSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioSinEntidad_Escritorio">
      <http:operation location="/ActualizarUsuarioSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioSinEntidad_Escritorio">
      <http:operation location="/TraerUsuarioSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConEntidad_Escritorio">
      <http:operation location="/TraerUsuarioConEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuarios_Escritorio">
      <http:operation location="/TraerTodasUsuarios_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioPorRutPorEmpresaSinEntidad_Escritorio">
      <http:operation location="/TraerUsuarioPorRutPorEmpresaSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodasUsuariosJoin_Escritorio">
      <http:operation location="/TraerTodasUsuariosJoin_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConClaveSinEntidad_Escritorio">
      <http:operation location="/TraerUsuarioConClaveSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioConFiltroSinEntidad_Escritorio">
      <http:operation location="/TraerUsuarioConFiltroSinEntidad_Escritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Process_Usuario">
    <wsdl:port name="Process_UsuarioSoap" binding="tns:Process_UsuarioSoap">
      <soap:address location="http://52.67.249.164:8071/Process_Usuario.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_UsuarioSoap12" binding="tns:Process_UsuarioSoap12">
      <soap12:address location="http://52.67.249.164:8071/Process_Usuario.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_UsuarioHttpGet" binding="tns:Process_UsuarioHttpGet">
      <http:address location="http://52.67.249.164:8071/Process_Usuario.asmx" />
    </wsdl:port>
    <wsdl:port name="Process_UsuarioHttpPost" binding="tns:Process_UsuarioHttpPost">
      <http:address location="http://52.67.249.164:8071/Process_Usuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>